#basura{
    width: 10vw;
    height: 15vw;
}
#calculando{
    width: 14em;
    height: 12ex;
}
#saludando{
    width: 4cm;
    height: 2cm;
}
#moto{
    width: 35mm;
    height: 20mm;
}
#cocolidro{
    width: 2in;
    height: 1in;
}
#calvo{
    width: 150px;
    height: 108px;
}
#tren{
    width: 150pt;
    height: 102pt;
}